spring:
  datasource:
    url: ${DB_JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-in-milliseconds: 900000
  refresh-token-validity-in-milliseconds: 1209600000
