spring:
  datasource:
    url: ${DB_JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: redis
      port: 6379

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true

ncp:
  sms:
    accessKey: ${NCP_ACCESS_KEY:dummy-access}
    secretKey: ${NCP_SECRET_KEY:dummy-secret}
    serviceId: ${NCP_SERVICE_ID:dummy-service}
    sender: ${NCP_SENDER:01000000000}